
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */