:root {
    --color-white: #FFF;
    --fontSize: 14px;
    --fontColor: #666;
    --fontColorSecondary: #999;
    --borderColor: #ccc;
    --borderColorHovered: #ff7f0e;
    --paletteWidth: 165px;
    --borderBox:{
        box-sizing: border-box;
    };
    --ellipsis: {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.dt-editor {
    font-family: system-ui;
    & .hide {
        display: none !important;
    }
}
