@import "mixin";

.dt-workspace {
    @dtFooterHeight: 26px;
    @color4selected: @borderColorHighlight;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background:#77d176;
    overflow: auto;
    z-index: 0;
    .lasso {
        stroke-width: 1px;
        stroke: @color4selected;
        fill: rgba(20,125,255,0.1);
        stroke-dasharray: 10 5;
        pointer-events: none;
    }
    .dt-canvas {
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: ~"calc(100% - @{dtFooterHeight})";
        background: #CDDC39;
        overflow: auto;
    }
    .dt-footer {
        width: 100%;
        height: @dtFooterHeight;
    }
    .dt-c-grid {
        pointer-events: none;
    }
    .dt-c-bg {
        outline: none;
    }
    .dt-node {
        cursor: move;
        will-change: transform;
        &.hovered,
        &.selected {
            .node-rect {
                stroke: @color4selected;
            }
        }
        outline: none;
    }
    .dt-line {
        &.line-splice {
            .path-line {
                stroke-dasharray: 15, 8;
            }
        }
        .path-line {
            stroke: #888;
            stroke-width: 3;
            fill: none;
            //pointer-events: none;
            &.selected,
            &.hovered {
                stroke: @color4selected;
            }
            &.dotted {
                stroke-dasharray: 10;
            }
            outline: none;
        }
    }
    .node-rect {
        stroke: #999;
        cursor: move;
        stroke-width: 2;
        outline: none;
    }
    .node-label {
        pointer-events: none;
        user-select: none;
        stroke: none;
    }
    .node-status {
        stroke: #666;
        stroke-width: 2px;
    }
    .port {
        &.inputs {
            transform: translate(-5px, 10px);
        }
        .node-port {
            stroke: #999;
            stroke-width: 1;
            fill: #ddd;
            &.hovered {
                stroke: @borderColorHighlight;
                fill: @borderColorHighlight;
                &.node-port-output {
                    cursor: crosshair;
                }
            }
        }
    }
}
